.videoItem__container{
  width: 30%;
  height: 5%;
  list-style: none;
  margin : 10px 0px;
  cursor: pointer;
  img{
    width: 100%;
  }
}
.title{
  margin-top: 10px;
  color: #ffffff;
}
.channelTitle{
  margin-top: 10px;
  color: #aaaaaa;
}