.content__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #131313;
  padding-left: 240px;
  padding-top: 56px;

}

.content__group__list {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 56px;
  background-color: #212121;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
  border-top: 1px solid rgba(255, 255, 255, 0.1);;
  ul {
    display: flex;
    list-style: none;
    & >li {
      padding: 0 10px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
    }
  }
}

.content__videoList{
  display: flex;
  height: 100%;


 &> div{
   width: 100%;
  }
  ul{
  background-color: #131313;
    padding: 100px 20px 0px 20px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}